.clock {
    font-family: "SF Mono";
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #151714;
    margin: 9px 0px;
    font-size: 15px;
}

.button-clock-text {
    margin: 0px 10px;
}
