.clock {
    font-size: 18px;
    font-family: "SF Mono";
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #2b2a27;
}

.button-clock {
    margin: 2px 10px;
}
