.bnetwork-box {
  background-color: $default-bg;
  padding: 12px;
  margin-left: 15px;
  border-radius: 16px;
  min-width: 120px;
  min-height: 120px;
  .bnetwork-icon {
    font-size: 20px;
  }
  .bnetwork-internet {
    margin-left: 14px;
    font-size: 20px;
  }
  .bnetwork-ssid {
    margin-top: 10px;
    color: $bluish;
    font-size: 16px;
  }
  .bnetwork-speed {
    font-size: 16px;
  }
}

.bnetwork-speed,
.bnetwork-ssid,
.bnetwork-icon,
.bnetwork-internet {
  color: $greyish;
  font-family: Bebas Neue;
}

.wifi-menu-box {
  border-radius: 16px;
  border: 2px solid $dark-bluish;
  min-width: 300px;
  min-height: 127px;
  background-color: $default-bg;
  margin-left: 330px;
  margin-top: 125px;
  padding: 10px;
  .wifi-menu-title {
    font-family: Bebas Neue;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .wifi-menu-close {
    margin: 0px 2px 7px 0px;
  }
  .wifi-menu-scrollable {
    .wifi-menu-scrollable-box {
      border-radius: 16px;
      .wifi-menu-icon {

      }
      .wifi-menu-ssid {

      }
      .wifi-menu-check {
        margin-right: 8px;
      }
    }
  }
}
