.power {
  margin-right: 6px;
}

.power-menu {
  border-radius: 16px;
  background: linear-gradient(to bottom,
    $default-bg 75%,
    $bluish 90%
  );
  margin-right: 5px;
  .power-menu-suspend,
  .power-menu-reboot,
  .power-menu-shutdown,
  .power-menu-logout,
  .power-menu-lock {
    font-size: 20px;
    padding: 20px;
  }

}
.verify {
  background: $default-bg;
  min-width: 300px;
  min-height: 130px;
  padding: 10px;
  border-radius: 16px;
  border: 2px solid $dark-bluish;
  .verify-text-box {
    .verify-text-title {

    }
    .verify-text-desc {
      font-size: 16px;
    }
  }
  .verify-choice-box {
    .verify-choice-button {
      padding-bottom: 10px;
      .verify-button-no,
      .verify-button-yes {
        font-size: 14px;
      }
    }
  }
}
