.clock {
  background: linear-gradient(to right, #7EC7A2, #61afef);
  color: #001B3D;
  border-radius: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 1em;
  padding-right: 1em; 
}

.bar {
  background: rgba(0, 0, 0, 0);
  min-height: 8px;
  border-radius: 0rem; 
}

