* {
  font-family: SF Mono Medium; }

.circle {
  color: #f9f9f9;
  min-height: 500px;
  min-width: 500px; }

.profile {
  background-color: #0c0d19;
  border-radius: 12px;
  margin: 8px;
  padding: 10px 15px 10px 15px; }
  .profile-email {
    margin-top: 12px;
    color: #b9c8c9; }

.preview-pic {
  border-radius: 15%;
  background-size: cover;
  margin-top: 24px;
  min-width: 282px;
  min-height: 282px; }

.preview-picker button {
  all: unset; }
  .preview-picker button label {
    color: #0c0d19; }
  .preview-picker button image {
    color: white; }

.calendar {
  margin: 8px; }
  .calendar-block {
    all: unset;
    background-color: #0c0d19;
    color: white;
    border-radius: 12px;
    padding: 5px; }
    .calendar-block:selected {
      border-radius: 14px;
      background-color: #4f6a8c;
      min-height: 5px; }
    .calendar-block.button {
      color: #0c0d19; }
    .calendar-block.highlight {
      color: #4f6a8c; }
    .calendar-block:indeterminate {
      color: rgba(255, 255, 255, 0.5); }

.clock {
  border-radius: 12px;
  background-color: #0c0d19;
  margin: 8px; }
  .clock-label {
    padding: 20px 40px 20px 40px;
    font-size: 120px;
    font-family: Bebas Neue;
    color: white; }

.applauncher {
  border-radius: 10px;
  background-color: #0c0d19;
  margin-left: 225px;
  margin-bottom: 243px; }
  .applauncher-list {
    background-color: #151714;
    padding: 8px;
    margin: 8px;
    min-width: 325px;
    min-height: 200px; }
  .applauncher-entry {
    padding: 8px;
    margin: 8px;
    background-color: #151714;
    border-radius: 10px; }

.applauncher-button {
  padding: 1px; }
  .applauncher-button:hover {
    background-color: #212420;
    border-radius: 12px; }
  .applauncher-button-icon-title-box {
    margin: 8px;
    border-radius: 10px; }
    .applauncher-button-icon-title-box .applauncher-button-icon {
      padding: 8px; }

.powermenu-launcher {
  border-radius: 12px;
  border: 2px solid #f9f9f9;
  background-color: peachpuff;
  font-size: 25px;
  padding: 5px;
  min-width: 35px;
  margin: 8px 8px 0 8px; }
  .powermenu-launcher button {
    all: unset; }
    .powermenu-launcher button label {
      color: white; }

window#powermenu {
  background-color: rgba(79, 106, 140, 0.1); }

.files {
  border-radius: 12px;
  background-color: #0c0d19;
  margin: 8px;
  padding: 8px; }
  .files-ThisPC, .files-Home, .files-Documents, .files-Downloads, .files-Photos {
    all: unset;
    color: white;
    transition: all 400ms ease-in-out;
    padding: 15px;
    font-size: 18px;
    border-radius: 20px; }
    .files-ThisPC:hover, .files-Home:hover, .files-Documents:hover, .files-Downloads:hover, .files-Photos:hover {
      background-color: #4f6a8c; }

.audio-popup {
  border-radius: 12px;
  background-color: #0c0d19;
  min-width: 100px;
  margin-bottom: 10px;
  padding: 5px; }
  .audio-popup button {
    all: unset;
    color: white; }
  .audio-popup highlight {
    background-color: #4f6a8c;
    border-color: rgba(255, 255, 255, 0); }

window#audio-popup {
  background-color: rgba(255, 255, 255, 0); }

.bluetooth-menu {
  border-radius: 12px;
  background-color: #0c0d19;
  padding: 20px; }
  .bluetooth-menu-scroll {
    min-height: 300px;
    min-width: 300px; }
    .bluetooth-menu-scroll-box-name {
      margin: 12px 0px 12px 0px;
      font-size: 14px; }

.uptime {
  background-color: #0c0d19;
  border-radius: 12px;
  margin: 8px;
  padding: 12px; }
  .uptime label {
    color: white; }

.power {
  border-radius: 12px;
  background-color: #0c0d19;
  margin: 8px;
  padding: 18px; }
  .power-button {
    all: unset;
    margin: 0px 5px 0px 5px;
    font-size: 18px; }
    .power-button label {
      color: white; }
