* {
  all: unset;
  font-family: SF Mono Medium; }

.bar-layout {
  background-color: #0c0d19;
  border-radius: 10px;
  padding: 4px;
  margin: 2px; }

.power {
  margin-right: 6px; }

.powerm {
  border-radius: 16px;
  background: linear-gradient(to bottom, #0c0d19 75%, #4f6a8c 90%);
  margin-right: 5px; }
  .powerm .powerm-suspend,
  .powerm .powerm-reboot,
  .powerm .powerm-shutdown,
  .powerm .powerm-logout,
  .powerm .powerm-lock {
    font-size: 20px;
    padding: 20px; }

.verify {
  background: #0c0d19;
  min-width: 300px;
  min-height: 130px;
  padding: 10px;
  border-radius: 16px;
  border: 2px solid #343860; }
  .verify .verify-text-box .verify-text-desc {
    font-size: 16px; }
  .verify .verify-choice-box .verify-choice-button {
    padding-bottom: 10px; }
    .verify .verify-choice-box .verify-choice-button .verify-button-no,
    .verify .verify-choice-box .verify-choice-button .verify-button-yes {
      font-size: 14px; }

.bweather-box {
  border-radius: 16px;
  background-color: #0c0d19;
  padding: 12px;
  margin-left: 15px;
  min-width: 120px;
  min-height: 120px; }
  .bweather-box .bweather-icon {
    margin-bottom: 10px;
    font-size: 45px; }
  .bweather-box .bweather-temp {
    font-size: 30px;
    margin-left: 28px; }
  .bweather-box .bweather-desc {
    color: #4f6a8c; }
  .bweather-box .bweather-desc,
  .bweather-box .bweather-windspeed,
  .bweather-box .bweather-humidity {
    font-size: 16px; }

.bweather-icon,
.bweather-temp,
.bweather-desc,
.bweather-windspeed,
.bweather-humidity {
  color: #b9c8c9;
  font-family: Bebas Neue; }

.bdate-box {
  padding-top: 30px;
  min-width: 300px; }
  .bdate-box .bdate-day {
    font-size: 40px;
    font-family: Bebas Neue;
    font-weight: bold;
    color: #0a0a0a; }
  .bdate-box .bdate-date {
    color: #b9c8c9;
    font-size: 16px; }

.bnetwork-box {
  background-color: #0c0d19;
  padding: 12px;
  margin-left: 15px;
  border-radius: 16px;
  min-width: 120px;
  min-height: 120px; }
  .bnetwork-box .bnetwork-icon {
    font-size: 20px; }
  .bnetwork-box .bnetwork-internet {
    margin-left: 14px;
    font-size: 20px; }
  .bnetwork-box .bnetwork-ssid {
    margin-top: 10px;
    color: #4f6a8c;
    font-size: 16px; }
  .bnetwork-box .bnetwork-speed {
    font-size: 16px; }

.bnetwork-speed,
.bnetwork-ssid,
.bnetwork-icon,
.bnetwork-internet {
  color: #b9c8c9;
  font-family: Bebas Neue; }

.wifi-menu-box {
  border-radius: 16px;
  border: 2px solid #343860;
  min-width: 300px;
  min-height: 127px;
  background-color: #0c0d19;
  margin-left: 330px;
  margin-top: 125px;
  padding: 10px; }
  .wifi-menu-box .wifi-menu-title {
    font-family: Bebas Neue;
    font-size: 20px;
    margin-bottom: 5px; }
  .wifi-menu-box .wifi-menu-close {
    margin: 0px 2px 7px 0px; }
  .wifi-menu-box .wifi-menu-scrollable .wifi-menu-scrollable-box {
    border-radius: 16px; }
    .wifi-menu-box .wifi-menu-scrollable .wifi-menu-scrollable-box .wifi-menu-check {
      margin-right: 8px; }

.launcher_box {
  border-radius: 10px;
  background-color: #0a0a0a; }
  .launcher_box .launcher_list {
    background-color: #151714;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
    min-width: 500px;
    min-height: 500px; }

.launcher_button {
  padding: 1px; }
  .launcher_button:hover {
    background-color: #212420;
    border-radius: 12px; }
  .launcher_button .launcher_icon_label_container {
    margin: 8px;
    border-radius: 10px; }
    .launcher_button .launcher_icon_label_container .launcher_icon {
      padding: 8px; }

.launcher_search {
  padding: 8px;
  margin: 8px;
  background-color: #151714;
  border-radius: 10px; }
