.dash-parent {
    background: #0a0a0a;
    border-radius: 10px;
    padding: 2rem;
}

.dash-gradient {
    background-image: linear-gradient(to right, rgba(#151714, 0.2) 30%, rgba(#151714, 0.5))
}

.dash-fullpfp {
    min-height: 200px;
    border-radius: 10px;
    background-image: url("assets/fullpfp.png");
    background-size: cover;
}

.hypr-reload {
    font-size: 20px;
    border-radius: 10px;  
    background: #151714;
}

.placeholder {
    font-size: 20px;
    border-radius: 10px;
    background: #151714;
}

.altstats {
    border-radius: 10px;
    background-image: url('assets/resource.jpg'); //linear-gradient(to right, blue, white);
    background-size: cover;
    margin: 10px 0px;
    padding: 20px;
}


