.dash-parent {
    background-color: #0a0a0a;
    border-radius: 10px;
    padding: 8px;
    margin-top: 5px;
}

.dash-fullpfp {
    min-height: 200px;
    border-radius: 10px;
    background-image: url("assets/fullpfp.png");
    background-size: cover;
}

.dash-time {
    padding: 1rem;
}

.timelabelu {
    border-radius: 10px;
    background-color: #151714;
    font-size: 1rem;
}
.timelabel {
    border-radius: 10px;
    background-color: #151714;
    font-size: 1rem;
}

