.lock-widget {
    background-color: #151714;
    color: #f9f9f9;
    border-radius: 10px;
    margin: 9px 0px;
    padding: 5px 5px;
    font-size: 18px;
}

.shutdown,
.logout {
    margin-right: 10px;
}
.reboot,
.suspend {
    margin-left: 10px;
}

