* {
    all: unset;
    font-family: SF Mono;
    border-radius: 10px;
  }

// GENERAL
@import "colors";

// WIDGETS
@import "bar";
@import "powerbar";
@import "icon";
@import "system";
@import "workspaces";
@import "profile";
@import "sys_tray";
@import "launcher";
@import "calendar";
@import "resource";
@import "control";

