@import "widgets/lock/lock.scss";
@import "widgets/clock/clock.scss";
@import "widgets/lockpopup/lockpopup.scss";
@import "widgets/network/network.scss";
@import "widgets/workspaces/workspaces.scss";
@import "widgets/calendar/calendar.scss";


* { all: unset; }

.bar {
    background-color: #0a0a0a;
    border-radius: 10px;
}

.right {
    margin-right: 20px;
}

.left {
    margin-left: 20px;
}
