@import "scss/lock/lock.scss";
@import "scss/lockpopup/lockpopup.scss";
@import "scss/system/system.scss";
@import "scss/workspaces/workspaces.scss";
@import "scss/calendar/calendar.scss";
@import "scss/pfp/pfp.scss";


* { all: unset;
    font-family: SF Mono;
//    color: #a1bdce;
  }

.bar {
    background-color: #0a0a0a;
    border-radius: 10px;
}

.right {
    margin-right: 20px;
}

.left {
    margin-left: 20px;
}
