.applauncher {
  border-radius: 10px;
  background-color: $default-bg;
  margin-left: 150px;
  margin-bottom: 320px;

  &-list {
    background-color: $default-fg;
    padding: 8px;
    margin: 8px;
    color: white;
    min-width: 325px;
    min-height: 200px;
    button {
      all: unset;
    }
  }
  &-entry {
    padding: 8px;
    margin: 8px;
    background-color: $default-fg;
    border-radius: 10px;
  }
}

.applauncher-button {
  padding: 1px;

  &:hover {
    background-color: $default-hover;
    border-radius: 12px;
  }

  &-icon-title-box {
    margin: 8px;
    border-radius: 10px;

    .applauncher-button-icon {
      padding: 8px;
    }
  }
}
