.bluetooth-menu {
  border-radius: 12px;
  background-color: $default-bg;
  padding: 20px;
  button {
    all: unset;
    color: white;
    font-size: 18px;
    margin: 5px;
  }
  &-scroll {
    min-height: 300px;
    min-width: 300px;
    &-box {
      &-name {
        margin: 12px 0px 12px 0px;
        font-size: 14px;

      }
    }
  }
}
