.calendar {
  margin: 8px;
  &-block {
    all: unset;
    background-color: $default-bg;
    color: white;
    border-radius: 12px;
    padding: 5px;
    &:selected {
      border-radius: 14px;
      background-color: $bluish;
      min-height: 5px;
    }
    &.button {
      color: $default-bg;
      //color: transparentize(red, 0.9);
      //&:hover { color: blue; }
    }
    &.highlight {
      color: $bluish;
    }
    &:indeterminate {
      color: transparentize(white, 0.5);
    }
  }
}
