* {
  font-family: SF Mono Medium;
}

@import 'colors';
@import 'circle';
@import 'profile';
@import 'calendar';
@import 'clock';
@import 'applauncher';
@import 'powermenu';
@import 'files';
@import 'audio-popup';
@import 'bluetooth-menu';
@import 'uptime';
@import 'power';


