.dynamic-notch-container {
    background-color: transparent;
    .dynamic-notch {
        background-color: black;
        min-height: 38px;
        min-width: 400px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        transition: 700ms;
    }

    .dynamic-notch-roundcorner-left {
        background-color: black;
        border-radius: 30px;
    }

    .dynamic-notch-roundcorner-right {
        background-color: black;
        border-radius: 30px
    }

    .dynamic-notch-toggle {
        min-height: 100px;
        min-width: 400px;
        transition: 700ms;
    }
}


window.Notch {
    background-color: transparent;
}

box.mediaplayer {
    padding: .6rem;
    /* background-color: black; */
    /* color: white; */
    /* border-radius: 30px; */
    box.cover-art {
        min-width: 120px;
        min-height: 120px;
        border-radius: 9px;
        margin-right: .6rem;
        background-size: contain;
        background-position: center;
    }

    box.title {
        label {
            font-weight: bold;
            font-size: 1.1em;
        }
        button {
            all: unset;
        }
    }

    scale {
        padding: 0;
        margin: .4rem 0;

        trough {
            min-height: 8px;
        }

        highlight {
            background-color: black;
        }

        slider {
            all: unset;
        }
    }

    centerbox.actions {
        min-width: 220px;

        button {
            padding: .4rem;
            margin: 0 .2rem;
        }
    }
}


