.settings-wallpaper-container {
    padding: 10px;
    .settings-wallpaper-title {
        padding-bottom: 10px;
    }
    .settings-wallpaper-inner {
        .settings-wallpaper-inner-preview-container {
            .settings-wallpaper-inner-preview {
                padding-top: 200px;
                padding-right: 200px;
                padding-left: 200px;
                padding-bottom: 50px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('/home/mishima/.dotfiles/home/common/programs/ags/astal-ts-beta/assets/wallpaper');
                border-radius: 10px;
            }
        }
        .settings-wallpaper-inner-filechooser {
        }

    }
}

window.Settings {
    background: black;
}
