.launcher_box {
    border-radius: 10px;
    background-color: $default_bg;

    .launcher_list {
        background-color: $default_fg;
        border-radius: 10px;
        padding: 8px;
        margin: 8px;
        min-width: 500px;
        min-height: 500px;
    }
}



.launcher_button {
    padding: 1px;

    &:hover {
        background-color: $default_hover;

    }

    .launcher_icon_label_container {
        margin: 8px;
        border-radius: 10px;

        .launcher_icon {
            padding: 8px;
        }
    }
}

.launcher_search {
    padding: 8px;
    margin: 8px;
    background-color: $default_fg;
    border-radius: 10px;
    
}




