.resource_box {
    border-radius: 10px;
    background-color: $default_bg;
    min-width: 100px;
    min-height: 100px;
    margin: 0px 73px 0px 0px;
    padding: 10px;
    .resource_box2 {
        background-color: $default_fg;
        padding: 25px;
        .resource_battery {
            min-width: 50px;
            min-height: 50px;
            color: aqua;
        }
    }
    
}
