/* SYSTEM [LEFT] */
.system_left {
    background-color: $default_fg;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
    margin: 9px 3px;
}
/* SYSTEM [RIGHT] */
.system_right {
    background-color: $default_fg;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px;
    margin: 9px 3px; 
    
}
